
body{
	background-image: url("pinksky.jfif");
	  
}
h1{ 
	border-radius: 150px 20px 150px;
	width: 550px;
	resize: both;
	overflow: auto;
	
}
h2{
	background-color: #381438;
	color: white;
	border-radius: 150px 20px 150px;
	width: 200px;
	padding: 10px;
	text-align: center;
}
h3{
	background-color: white;
	color: black;
	border-radius: 200px 150px 200px;
	width: 500px;
	padding: 70px;
	position: absolute;
	top: 70px;
	right: 70px;
	opacity: 0.7;
}
img{
	position: absolute;
	top: 620px;
	right: -20px;
	transform: rotate(160deg);
}
a {
	color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



.active {
  background-color: purple;