
body{
	Background-image: url("Books.jpg")
	
}

h1{
	position: absolute;
	top: 20px;
	right: 550px;
	
}

h3{
	position: absolute;
	top: 180px;
	right: 500px;
	
}


img{
	position: absolute;
	top: 40px;
	right: 1200px;
	width: 300px;
	
}

.gif{
	position: absolute;
	top: 300px;
	right: 1200px;
		
}

.gif2{
	position: absolute;
	top: 220px;
	right: 260px;
	
}